@media (max-width: 890px) {
    .destaque {
        height: 65vh;
    }

    .content {
        margin-top: -60px;
    }

    .container h1, p {
        width: 80%;
    }

    .container h1 {
        font-size: 35px;
    }

    .container p {
        font-size: 17px;
    }
}



@media (max-width: 670px) {

    .content {
        margin-top: 1px;
    }
    
    .container {

        margin-top: 20px;
    }

    .container h1, p {
        width: 60%;
    }

    .destaque {
        height: 50vh;
    }

    .container h1 {
        font-size: 25px;
    }

    .container p {
        font-size: 15px;
    }

    .button, .fas {
        font-size: 15px;
    }

    header {
        justify-content: center;
        flex-direction: column;
        height: 90px;
    }
    
    header .logo-header{
        justify-content: center;
        width: 100%;
        margin-top: 5px;
    }
    
    header .navegacao {
        margin-top: 5px;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 500px) {

    container h1, p {
        width: 65%;
    }

    .button, .fas {
        font-size: 12px;
    }

}

@media (max-width: 450px) {

    .destaque {
        height: 40vh;
    }

    .container h1, p {
        width: 60%;
    }

    .container h1 {
        font-size: 20px;
    }

    .container p {
        font-size: 13px;
    }

    .button {
        margin-top: 10px;
    }
}