* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-color: #141414;
    --menu-color: #c8c7c8;
    --hover: #989898;
    --color: white;
    --bottun: #797a7d;
}

body {
    background-color: var(--bg-color);
    font-family: sans-serif;
    color: var(--color);
}

header {
    display: flex;
    width: 95%;
    height: 60px;
    align-items: center;
    justify-content: start;
    margin: auto;
    background-color: #141414;
}

header .logo-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40vh;
}

header .logo-header img {
    width: 190px;
}

header .navegacao {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80%;
}

.bar a {
    color: var(--menu-color);
    margin-right: 15px;
    font-size: 15px;
}

.bar a:hover {
    color: var(--hover);
}

#item-1, #item-2, #item-3, #item-4 {
    color: var(--color);
}

/* Destaque da Semana / Cabeçalho*/

.destaque {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: url("../img/bg-3.png");
    background-size: cover;
    box-sizing: border-box;
}

.container {
    width: 85vh;
    margin-left: 50px;
    text-align: justify;
    margin-top: -30px;
}

.container h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.container p {
    font-size: 20px;
    margin-bottom: 10px;
}

#Tempo {
    color: rgba(198, 203, 221, 0.842);
    font-weight: bold;
}

.button {
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5vh;
}

#ouvir:hover {
    background-color: rgba(255, 255, 255, 0.603);
}

#info {
    margin-left: 20px;
    background-color: rgba(173, 173, 173, 0.582);
    color: white;
}

#info:hover {
    background-color: rgba(173, 173, 173, 0.349);
}

.fas {
    margin-right: 5px;
    font-size: 20px;
}

/* Fim */

.content {
    margin-top: -80px;
    margin-left: 15px;
}

.titulos h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.box-filme{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
}

footer {
    margin-top: 50px;
}
.esclarecimento p {
   
    margin: auto;
    text-align: center;
    font-size: 15px;
}

.esclarecimento a {
    color: var(--color);
}

.esclarecimento a:hover {
    color: var(--hover);
}

.contatos {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contatos a {
    font-size: 25px;
    color: var(--color);
}

.contatos a:hover {
    color: var(--hover);
}

#github {
    margin-right: 20px;
}